version: '3'
services:
  homeassistant:
    image: homeassistant/home-assistant:stable
    container_name: homeassistant
    network_mode: host
    environment:
      - TZ=Europe/Berlin
    volumes:
      - ${HOME}/ha-config:/config
    ports:
      - 8123:8123
    restart: unless-stopped
